<a href="https://colab.research.google.com/github/salviyas/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
data=[1,2,3,4,5]
series=pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data={
    "name":["abc","def","ghi"],
    "age":[20,21,22]
}
df=pd.DataFrame(data)
print(df)

  name  age
0  abc   20
1  def   21
2  ghi   22

In [ ]:
df["age"]>21

0    False
1    False
2     True
Name: age, dtype: bool

In [ ]:
data={
    "name":["abc","def","ghi"],
    "age":[20,21,22]
}

print(data["name"])
print(data["age"])

['abc', 'def', 'ghi']
[20, 21, 22]

In [ ]:
#Different ways to read a dataset

df_csv=pd.read_csv("data.csv")
print(df_csv)

df_excel=pd.read_excel("data.xlsx")
print(df_excel)

df_json=pd.read_json("data.json")
print(df_json)

In [ ]:
data={
    "name":["abc","def","ghi"],
    "age":[20,21,22]
}
df=pd.DataFrame(data)

df.to_csv("data.csv",index=False)
df.to_excel("data.xlsx",index=False)

In [ ]:
df['age']>21

df[['name',"age"]]

  name  age
0  abc   20
1  def   21
2  ghi   22

In [ ]:
row0=df.loc[0]
print(row0)
a=df.iloc[0]
print(a)

name    abc
age      20
Name: 0, dtype: object
name    abc
age      20
Name: 0, dtype: object

In [ ]:
oldpeople=df[df["age"]>20]
print(oldpeople)

  name  age
1  def   21
2  ghi   22

In [ ]:
df.reset_index(inplace=True)
print(df)

  name  age
0  abc   20
1  def   21
2  ghi   22

In [ ]:
df.drop('name',axis=1,inplace=True)
print(df)

   age
0   20
1   21
2   22

In [ ]:
df.isnull().sum()

age    0
dtype: int64

In [ ]:
df.dropna(inplace=True)
print(df)

   age
0   20
1   21
2   22

In [ ]:
df.fillna(0,inplace=True)
print(df)

   age
0   20
1   21
2   22

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
    'Score': [85, 90, 78, 88]
}

df = pd.DataFrame(data)
print(df)
df.drop('Score', axis=1, inplace=True)
print(df)

df

      Name  Age           City  Score
0    Alice   24       New York     85
1      Bob   27  San Francisco     90
2  Charlie   22    Los Angeles     78
3    David   32        Chicago     88
      Name  Age           City
0    Alice   24       New York
1      Bob   27  San Francisco
2  Charlie   22    Los Angeles
3    David   32        Chicago

      Name  Age           City
0    Alice   24       New York
1      Bob   27  San Francisco
2  Charlie   22    Los Angeles
3    David   32        Chicago

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, None, 32],
    'City': ['New York', None, 'Los Angeles', 'Chicago'],
    'Score': [85, 90, 78, None]
}
df = pd.DataFrame(data)

df.fillna({'Age': 0, 'City': 'Unknown', 'Score': 0}, inplace=True)
print(df)

      Name   Age         City  Score
0    Alice  24.0     New York   85.0
1      Bob  27.0      Unknown   90.0
2  Charlie   0.0  Los Angeles   78.0
3    David  32.0      Chicago    0.0

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'Score': [85, 90, 78, 88]
}
df = pd.DataFrame(data)

df.sort_values(by='Score', ascending=False, inplace=True)
print(df)

      Name  Age  Score
1      Bob   27     90
3    David   32     88
0    Alice   24     85
2  Charlie   22     78

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
    'Score': [85, 90, 78, 88]
}
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)
df.reset_index(inplace=True)
print(df)

      Name  Age           City  Score
0    Alice   24       New York     85
1      Bob   27  San Francisco     90
2  Charlie   22    Los Angeles     78
3    David   32        Chicago     88

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, None, 22, 32],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
    'Score': [85, 90, None, 88]
}
df = pd.DataFrame(data)


df.dropna(inplace=True)
print(df)

    Name   Age      City  Score
0  Alice  24.0  New York   85.0
3  David  32.0   Chicago   88.0

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
    'Score': [85, 90, 78, 88]
}
df = pd.DataFrame(data)
df.rename(columns={'Age': 'Years', 'Score': 'Grade'}, inplace=True)
print(df)

      Name  Years           City  Grade
0    Alice     24       New York     85
1      Bob     27  San Francisco     90
2  Charlie     22    Los Angeles     78
3    David     32        Chicago     88

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice'],
    'Age': [24, 27, 22, 32, 24],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York'],
    'Score': [85, 90, 78, 88, 85]
}
df = pd.DataFrame(data)

df.drop_duplicates(inplace=True)
print(df)

      Name  Age           City  Score
0    Alice   24       New York     85
1      Bob   27  San Francisco     90
2  Charlie   22    Los Angeles     78
3    David   32        Chicago     88